*{
    margin:0;
    padding:0;
    box-sizing: border-box;
        }
html{
    font-size: 62.5%;
}

body{
    color:rgb(230, 219, 158);
    background-color: rgba(10, 10, 10, 0.959);
    font-family: 'Edu SA Beginner',cursive,sans-serif;
    }

h1, h3{
    background-color: darkviolet;
    text-align: center;
    margin: 5px;
       }
h2{
    background-color: rgb(37, 38, 39);
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: dimgray;
    }

.letra{
        font-size: 25px;
        background-color: dimgrey;
        color: rgb(79, 231, 168);
    }

.imagenes{    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(370px,1fr));
    grid-template-rows:auto;
    gap: 10px;
    width: 100%; /* Porcentaje */
    max-width: 100%; /* Para asegurarse de que la imagen no se desborde */
    margin: 3px;   

}

.imagenes img{
       
    width: 380px;
    height: 450px;
    border: solid 5px rgb(214, 218, 10);
    padding: 5px;
    justify-self: center;
         }

p{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin:30px;
    }

form{
    padding: 25px;
    padding-left: auto;
    margin-bottom: 20px;
    }

label{
    font-size: 250%;
    padding-left: 5px;
    margin-bottom: 5px;
    /* display: block; */
    }

input{
    display: block; 
    margin-bottom: 15px;
    font-size: 250%;
    }

    /* uso de flex para el footer del index */
@media screen and (min-width:600px) {
    
        footer section {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
        }
                            
                            }
